In [2]:
import pandas as pd
import numpy as np
from collections import Counter

In [3]:
gco_n=pd.DataFrame({'gene':[],'fdr':[]})
gco_all=gco_n

In [4]:
gco_n

Empty DataFrame
Columns: [gene, fdr]
Index: []

In [5]:

for i in np.arange(1,5):
    
    oo='Analysis and Compare/Final-scGCO/BC_'+str(i)+'_DE.csv'
    gco0=pd.read_csv(oo,sep=',')
    #index=de0.qval.values
    #gco0=de0[de0.fdr<0.05]
    df={'gene':gco0.iloc[:,1].values,'fdr':gco0.fdr.values}
    
    gco=pd.DataFrame(data=df)
    
    gco_all=pd.merge(gco_all,gco,on='gene',how='outer',left_on=None)

In [6]:
gco_all0=gco_all.copy()
gco_all=gco_all[gco_all.gene !='log_total_count']

In [10]:
gco_all.shape

(273, 6)

In [14]:
gco_all.iloc[0:10]

   fdr_x    gene     fdr_y     fdr_x     fdr_y       fdr
0    NaN   GAPDH  0.000016  0.012812  0.001548  0.007222
1    NaN   COX6C  0.032379       NaN       NaN       NaN
2    NaN  COL6A3  0.005130  0.000436  0.026448       NaN
3    NaN     C4B  0.003532       NaN  0.006758  0.003467
4    NaN   METRN  0.000396  0.011819  0.038683       NaN
5    NaN   ACTN4  0.000083       NaN       NaN  0.028510
6    NaN   RPL13  0.000001  0.000488  0.000004  0.000517
7    NaN  UQCR11  0.031291       NaN       NaN       NaN
8    NaN    MYL9  0.031203       NaN       NaN  0.000318
9    NaN  IGFBP7  0.031291       NaN       NaN       NaN

In [8]:
# de_all.drop(de_all.columns[[0]],axis=1,inplace=True)

In [15]:
gco_all=gco_all.dropna(how='all',axis=1)   # remove the column that all of NULL 

gco_all.shape

(273, 5)

In [16]:
gco_all.iloc[:10,]

     gene     fdr_y     fdr_x     fdr_y       fdr
0   GAPDH  0.000016  0.012812  0.001548  0.007222
1   COX6C  0.032379       NaN       NaN       NaN
2  COL6A3  0.005130  0.000436  0.026448       NaN
3     C4B  0.003532       NaN  0.006758  0.003467
4   METRN  0.000396  0.011819  0.038683       NaN
5   ACTN4  0.000083       NaN       NaN  0.028510
6   RPL13  0.000001  0.000488  0.000004  0.000517
7  UQCR11  0.031291       NaN       NaN       NaN
8    MYL9  0.031203       NaN       NaN  0.000318
9  IGFBP7  0.031291       NaN       NaN       NaN

In [17]:
gco_all1=gco_all.dropna(thresh=4,axis=0) # col.gene also count one colnumes, so at lease 3 non.na
print(gco_all.shape)
gco_all1.shape

gco_all1['min_fdr']=gco_all1.iloc[:,:-1].min(1)
 # de_all1['max_fdr']=de_all1.iloc[:,:-1].max(1)

(273, 5)

/home/covo/anaconda3/envs/py3+R/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [15]:
gco_overlap=pd.DataFrame({'gene':gco_all1.gene.values,'fdr':gco_all1.min_fdr.values,
                         'counts':gco_all1.counts.values})
gco_overlap.to_csv('scGCO_BC_min3.csv')